Scraping Premier League Data 2011
1.Teams
2.Points

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://www.skysports.com/premier-league-table/2011"
req=requests.get(url)

In [3]:
bsObj=BeautifulSoup(req.text,"html.parser")
league=bsObj.find("table",class_="standing-table__table")
league_table=league.find_all("tbody")

In [21]:

for teams in league_table:
    rows=teams.find_all("tr",class_="standing-table__row")
    for row in rows:
        team_names=row.find("td",class_="standing-table__cell standing-table__cell--name")
        team_points=row.find_all("td",class_="standing-table__cell")[9]
        print(team_names.text.strip(),team_points.text.strip())

Manchester City 89
Manchester United 89
Arsenal 70
Tottenham Hotspur 69
Newcastle United 65
Chelsea 64
Everton 56
Liverpool 52
Fulham 52
West Bromwich Albion 47
Swansea City 47
Norwich City 47
Sunderland 45
Stoke City 45
Wigan Athletic 43
Aston Villa 38
Queens Park Rangers 37
Bolton Wanderers 36
Blackburn Rovers 31
Wolverhampton Wanderers 25

In [22]:
league_2011=[]
for teams in league_table:
    rows=teams.find_all("tr",class_="standing-table__row")
    for row in rows:
        team_name=row.find("td",class_="standing-table__cell standing-table__cell--name").text.strip()
        team_points=row.find_all("td",class_="standing-table__cell")[9].text.strip()
        league_dict={"name":team_name,"points":team_points}
        league_2011.append(league_dict)

In [23]:
df=pd.DataFrame(league_2011)
df.head()

                name points
0    Manchester City     89
1  Manchester United     89
2            Arsenal     70
3  Tottenham Hotspur     69
4   Newcastle United     65

In [24]:
df

                       name points
0           Manchester City     89
1         Manchester United     89
2                   Arsenal     70
3         Tottenham Hotspur     69
4          Newcastle United     65
5                   Chelsea     64
6                   Everton     56
7                 Liverpool     52
8                    Fulham     52
9      West Bromwich Albion     47
10             Swansea City     47
11             Norwich City     47
12               Sunderland     45
13               Stoke City     45
14           Wigan Athletic     43
15              Aston Villa     38
16      Queens Park Rangers     37
17         Bolton Wanderers     36
18         Blackburn Rovers     31
19  Wolverhampton Wanderers     25